.window-wrapper{
    margin-top: 2%;
    height: 872px;
}

.label-wrapper{
    height: 15%;
    border-bottom: none;
}

.form-wrapper{
    height: 70%;
    // flex-direction: column;
    // justify-content: left;
    // justify-content: space-evenly;
}

.button-wrapper{
    height: 15%;
    background: grey;
}

label{
    margin-left: 10px;
    align-self:baseline;
    font-size: 24px;
}

input{
    outline: none;
    height:40%
}

.input-phonenumber-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.plus-sign{
    height: 60%;
    border: 10px solid black;
    border-right: none;
    font-size: 50px;
}

.phonenumber{
    width: 85%;
    height: 58%;
    border-left: none;
}

.input-wrapper{
    width: 100%;
    justify-content:left;

}

span{
    font-size: 16px;
    // position: absolute;
    color: red;
    margin-left: 10px;
    align-self:baseline;
}
