<div class="window-wrapper" [formGroup]="registrationForm" [ngClass]="{background: loader}">
    <div class="label-wrapper">Registration</div>
    
    <form class="form-wrapper" >

        <div class="input-wrapper">

            <app-err-wrapper [control]="registrationForm" path="email" [outputByOne]="true">
                <label>Email</label>
                <input type="text" formControlName="email">
            </app-err-wrapper>
            

        </div>

        <div class="input-wrapper">

            <app-err-wrapper [control]="registrationForm" path="username" [outputByOne]="true">
                <label>Username</label>
                <input type="text" formControlName="username">
            </app-err-wrapper>

        </div>


        <div class="input-wrapper">

            <app-err-wrapper [control]="registrationForm" path="password" [outputByOne]="true">
                <label>Password</label>
                <input type="password" formControlName="password">
            </app-err-wrapper>
                
        </div>
                
        <div class="input-wrapper">

            <app-err-wrapper [control]="registrationForm" [outputByOne]="true">
                <app-err-wrapper [control]="registrationForm" path="passwordConf" [outputByOne]="true">
                    <label>Password again</label>
                    <input type="password" formControlName="passwordConf">
                </app-err-wrapper>  
            </app-err-wrapper>     

        </div>

        
        <div class="input-wrapper">

            <app-err-wrapper [control]="registrationForm" path="phoneNumber" [outputByOne]="true">
                <label>Phone Number</label>
                <div class="input-phonenumber-wrapper">
                    <input class="plus-sign" value="+" readonly>
                    <input type="text" class="phonenumber" formControlName="phoneNumber">
                </div>
            </app-err-wrapper>

        </div>  

    </form>
    
    <div class="button-wrapper">
            <button (click)="registrate()" 
            [ngClass]="{disabled_button: registrationForm.invalid}">Go</button>
    </div>
              
</div>  

<div *ngIf="loader" class="loader"></div>

