.box{
    background-color: grey;
}

.window-wrapper{
    height: 581px;
}
.label-wrapper{
    height: 20%;
    border-bottom: none;
}

span{
    font-size: 16px;
    position: absolute;
    color: red;
    margin-top: 116px;
}

label{
    font-size: 24px;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    background: grey;
}

.reg-btn{
    font-size: 24px;
    color: blue;
    text-decoration: underline; 

}

.reg-btn:hover{
    text-decoration: none; 
    transition-duration: 0.2s;
    cursor: pointer;
    color: rgb(65, 190, 65);
}

.reg-btn:active{
    transition-duration: none;
    opacity: 0.6;
}

button{
    color: black;
    height: 77px;
}



