@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "Pixeloid Font"; 
    // адрес шрифта и тип 
    src: url("fonts/myFont.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

body{
    font-family: 'Pixeloid Font';
    // overflow: hidden;
    background: grey;
    user-select: none;  
}
.window-wrapper {
    margin: 0 auto;
    right: 35%;
    text-align: center;
    margin-top: 10%;
    min-width: 150px;
    min-height: 200px;
    height: 400px;
    width: 480px;
    border: 10px solid black;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.label-wrapper {
    background: grey;
    font-size: 45px;
    letter-spacing: -1px;
    font-weight:100;
    height: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 10px solid black;
}

.form-wrapper{
    height: 60%;
    width: 100%;
    background: #fefefe;
    border: 10px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input{
    padding-left: 10px;
    font-size: 29px;
    border: 10px solid black;
    height: 25%;
    font-family: 'Pixeloid Font';
    width: 90%;
}

.input-wrapper{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-wrapper{
    width: 100%;
    height: 70%;
    background: #fefefe;
    justify-content: center;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

button{
    min-width: 100px;
    font-family: 'Pixeloid Font';
    font-size: 40px;
    letter-spacing: -1px;
    color: rgb(51, 51, 51);
    width: 192px;
    height: 100px;
    background: rgb(128, 128, 128);
    border: 4px solid rgba(27, 27, 27, 0.582);
    border-bottom: 17px solid rgba(90, 90, 90, 0.7);
    border-right: 15px solid rgba(51, 51, 51, 0.7);
    box-shadow: 10px 10px 38px 9px rgba(34, 60, 80, 0.2);
}
button:hover{
    color: rgba(51, 51, 51, 0.918);
    cursor: pointer;
    background-color: rgb(250, 234, 214);
    transition-duration: 0.08s;
}

button:active{
    margin-top: 2px;
    margin-left: 3px;
    width: 192px;
    height: 96px;
    color: rgb(65, 190, 65);
    background: rgb(250, 234, 214, 0.8);
    border: 7px solid rgba(80, 80, 80, 0.9);
    border-bottom: 13px solid rgba(90, 90, 90, 0.9);
    border-right: 12px solid rgba(51, 51, 51, 0.9);
}

.disabled_button:active{
    color: red;
}

.background{
    pointer-events: none;
    animation: 0.3s blurScale;
    filter: blur(5px); 

  }
  
  @keyframes blurScale {
    from {
        filter: blur(0px);
    }
    to {
        filter: blur(5px);
    }
  }

.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  --n:3;    
  --s:30px;
  --g:5px; 
  color:black;
  width:calc(var(--n)*(var(--s) + var(--g)) - var(--g));
  height:30px;
  padding:var(--g);
  margin:5px auto;
  border:10px solid;
  background:
    repeating-linear-gradient(90deg,
      currentColor  0 var(--s),
      #0000 0 calc(var(--s) + var(--g))
    ) left / calc((var(--n) + 1)*(var(--s) + var(--g))) 100% 
    no-repeat content-box;
  animation: load 1.5s steps(calc(var(--n) + 1)) infinite;

}
@keyframes load {
  0% {background-size: 0% 100%;}
}
