.main-window-wrapper{
    border: 10px solid black;
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 360px;
    // height: 100%;
    // width: 100%;
    height: 300px;
}

.gameBoyImage{
    // min-width: 100px;
    min-height: 300px;
    min-width: 240px;
    height: 100%;
    background: url(images/tetris.gif) no-repeat;
    background-size: 100%;
}

label{
    font-size: 40px;
}

.red-color{
    color: red;
}
.orange-color{
    color: orange;
}
.yellow-color{
    color: yellow
}
.green-color{
    color: green;
}

.light-blue-color{
    color:lightblue
}
.blue-color{
    color: blue;
}

.purple-color{
    color:purple;
}