<div class="main-window-wrapper">
    <div class="gameBoyImage"></div>
        <label>
            <span class="red-color">Y</span> 
            <span class="orange-color">o</span>
            <span class="yellow-color">u</span>
            <span class="green-color"> a</span>
            <span class="blue-color">r</span>
            <span class="purple-color">e</span>
            <span class="red-color"> i</span> 
            <span class="orange-color">n</span>
            <span class="yellow-color"> t</span>
            <span class="light-blue-color">h</span>
            <span class="blue-color">e</span>
            <span class="red-color"> g</span>
            <span class="orange-color">a</span>
            <span class="yellow-color">m</span>
            <span class="green-color">e</span>
        </label>
</div>


